<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QT - Login</title>

    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>


</head>

<body class="bg-gradient-primary">

    <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh;">

        <div class=" row justify-content-center  w-100">

            <div class="col-lg-4 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Login</h1>
                                        <!-- <p class="mb-4">Login to continue</p> -->
                                    </div>
                                    <form class="user" id="userLogin">
                                        <div class="form-group form-group-lg">
                                            <input type="text" class="form-control form-control-user input-lg"
                                                id="userName" aria-describedby="emailHelp"
                                                placeholder="Enter Username..." required>
                                            <span class="text-danger ml-1" id="incorrectUser"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user input-lg "
                                                id="password" placeholder="Password" required>
                                            <span class="text-danger ml-2" id="incorrectPass"></span>

                                        </div>

                                        <button class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>

                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/js/sb-admin-2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>

    <script>
        const userNameInput = document.getElementById('userName');
        const passwordInput = document.getElementById('password');

        // Remove error messages and is-invalid class on typing
        userNameInput.addEventListener('input', () => {
            userNameInput.classList.remove('is-invalid');
            document.getElementById('incorrectUser').innerText = "";
        });

        passwordInput.addEventListener('input', () => {
            passwordInput.classList.remove('is-invalid');
            document.getElementById('incorrectPass').innerText = "";
        });

        document.querySelector('form').addEventListener('submit', async function (event) {
            event.preventDefault();
            const userName = userNameInput.value;
            const password = passwordInput.value;

            try {
                const res = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ userName, password })
                });

                userNameInput.classList.remove('is-invalid');
                passwordInput.classList.remove('is-invalid');
                document.getElementById('incorrectUser').innerText = "";
                document.getElementById('incorrectPass').innerText = "";

                if (res.ok) {
                    const data = await res.json();
                    const jwtToken = data.auth_token;

                    if (jwtToken) {
                        const decoded = jwt_decode(jwtToken);
                        sessionStorage.setItem('auth_token', JSON.stringify(decoded));
                        sessionStorage.setItem('jwt_raw', JSON.stringify(jwtToken));
                        window.location.href = 'dashboard';
                    }

                } else {
                    const error = await res.json();

                    if (error.field === 'userName') {
                        userNameInput.classList.add('is-invalid');
                        document.getElementById('incorrectUser').innerText = error.error;
                    }

                    if (error.field === 'password') {
                        passwordInput.classList.add('is-invalid');
                        document.getElementById('incorrectPass').innerText = error.error;
                    }
                }
            } catch (err) {
                console.error("error", err);
                passwordInput.classList.add('is-invalid');
                document.getElementById('incorrectPass').innerText = 'Something went wrong.';
            }
        });
    </script>





</body>

</html>